# Core NLP
transformers
datasets
evaluate
accelerate
bitsandbytes
peft
trl
safetensors
sentence-transformers
transformers[sentencepiece]

# ML / Data
torch
tiktoken
sentencepiece
protobuf
scikit-learn
pandas
numpy

# Topic Modelling
bertopic
gensim
pyLDAvis
umap-learn
hdbscan

# Visualization
matplotlib
seaborn
plotly
tabulate

# Utilities / Configuration / Notebooks
tqdm
pyyaml
hydra-core
jupyter
wandb
tensorboard
